@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Primeiro Web App ASP NET</p>
    <p><a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">Curso na Udemy</a>.</p>
</div>
